header {
  background-color: blue;
  height: 50px;
  width: 100%;
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
